/*
 * CSS File for the solution
 * Tutorial 02
 * Step 03
 * Instructions are in the comments below
 */


/* CSS Colour codes you can use for this exercise */
/*
--red-pantone: #e63946ff;
--honeydew: #f1faeeff;
--non-photo-blue: #a8dadcff;
--cerulean: #457b9dff;
--berkeley-blue: #1d3557ff;
*/

/* Styles for the HTML Body element */

body {
  background-color: #1d3557ff ;
}


/* Then move onto the header styles */

header {
  color:rgb(252, 253, 255);
  margin: 0%;
  padding: 1rem;
}

header .site-title {
  margin: 1rem 0;
  font-weight:900;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.rem;
  /* Add some cool text styles to the site title */
  /* Experiment with the font-size, font-weight, text-transform, letter-spacing */
}

header nav {
  margin: 1rem;
}

header nav ul {
  /* removes the points */
  list-style: none;
  margin: 0;
  padding: 0;
}

header a {
  color:rgb(246, 246, 246);
  /* removes the undeline */
  text-decoration:double;

}

header a:hover {
  /* Add an underline to the links when you hover over them */
  text-decoration: underline;
}

/* GENERAL SECTION STYLES */

/* Now let's setup the generic main > section styles */
/* These are styles that are applied just to the section elements
 * that are direct children of the main element
 *
 * <main>
 *   <section>...</section>
 *   <section>...</section>
 *   <section>...</section>
 * </main>
 */

main > section {
  /* Set the margins, padding and background colour */
  /* Set the border radius to give it rounded corners */

  margin-top: 1rem ;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right:2rem ;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #f67280;
}

/* This fancy code removes the bottom margin from the last section */
main > section:last-child {
  margin-bottom: 0rem;
}

/* HERO SECTION STYLES */

/* Now let's setup the Hero section in main styles */
main section.hero {
  padding: 2rem;
  background-color: aliceblue;
  border-radius: 2rem;
  /* Start by setting the padding */
  /* Set the background colour */
  /* Set the border radius to give it rounded corners */
}

main section.hero h1 {
  /* Set the font size, margins and text colour */
  /* Experiment with letter-spacing to see what it does */
  /* Google how to align text in the center */
  font-size: large;
  letter-spacing: 1rem;
  text-align: center;
  margin: 1rem 0;
}

main section.hero .secondary-heading {
  /* Set the font size, margins and text colour */
  /* Experiment with letter-spacing to see what it does */
  /* Google how to align text in the center */

  font-size: large;
  color: #e5aaae;
  text-align: center;
}

main section.hero img {
  /* You don't need to modify anything here */
  border-radius: 1rem;
  width: 100%;
  max-width: 100%;
  height: 40rem;
  object-fit: cover;
  object-position: center center;
}


/* MENU SECTION STYLES */

main section.menu {
  padding: 1rem;
  background-color: #f1faeeff;
  border-radius: 1rem;
}

main section.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main section.menu ul li {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: #e5aaae;
}

main section.menu ul li:nth-child(2n) {
  background-color: #a8dadcff;
}




/* TESTIMONIAL SECTION STYLES */

/* Almost done! The last section is our testimonial styles */

main section.testimonials {
  /* Set the padding and background colour #f1faeeff */
  /* Set the border radius */

  padding: 2rem;
  background-color: #f1faeeff;
}

/*
  Create a css selector that targets the h2 element
  inside the testimonials section
  and add the following styles to it:

  - Center the text
  - Experiment with font-size, font-weight, and color to
    design a sweet heading h2

*/

main section .header-two{
text-align:center;
font-size: larger;
font-weight: 400;
color: rgb(240, 152, 137);

}

main section.testimonials img {
  width: 100%;
  max-width: 100%;
  /* Put a border radius on just the top of the image */
}

/*
  Create a css selector that targets the blockquote element
  inside the testimonials section
  and add the following styles to it:

  - Let's make our customer quote look cool
  - Center the text
  - Set the font-weight
  - Set the font size
  - Set the padding
  - Add a background colour #457b9dff
  - Set the text colour
  - Put a border radius on just the bottom of the blockquote

*/

main section .quote{

  text-align: center;
  font-weight: 400;
  font-size: larger;
  padding: 2rem;
  background-color:#457b9dff;
  color:#e5aaae;
  border-radius: 0.4rem;


}

/* FOOTER SYTLES */
footer {
  margin: 1rem 0;
  background-color: inherit;
  color: #fff;
  padding: 1rem;
}

footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .copywrite {
  margin: 5rem 0 1rem 0;
}

/* AND THAT'S IT! YOU ARE DONE. CONGRATULATIONS. POST YOUR LINK! */


/*
 * DONT MODIFY THE CODE
 * BELOW THIS LINE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #242121;
  font-size: 1.2rem;
  line-height: 1.6;
}

main {
  margin: 5rem 0rem;
  padding: 1rem;
}
